.content {
    padding: 20px;

    height: 90%;

    display: flex;
    flex-direction: column;

    font-family: 'Noto Sans', sans-serif;
}

/* Test Page */

.list {
    height: 60%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.list-item {
    list-style: none;

    margin: 10px 15px;
    padding: 5px 10px;
    width: 300px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    color: black;
    border-bottom: 1px solid gainsboro;
}

.list-item:hover {
    border-left: 6px solid red;
    transition: 0.1s;
}

.list-item:hover h4 {
    color: red;
}

.list-item-deleteButton {
    all: unset;
    display: none;

    cursor: pointer;
}

.list-item:hover .list-item-deleteButton {
    display: block;
}

.list-item-deleteButton:hover {
    color: red;
}