nav {
    margin: 20px 0px;

    display: flex;
    justify-content: space-between;

    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
}

a {
    color: black;
    text-decoration: none;
}

.nav-item {
    margin: 20px;
}

.nav-selected {
    border-bottom: 3px solid red;
}

.nav-item:hover {
    border-bottom: 3px solid rgb(255, 125, 125);
    transition: 0.1s;
}

.nav-userData {
    text-transform: none;
}